:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #fafbfd;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

ul.header {
  display: flex;
  justify-content: space-evenly;
}